:root {
    --outer-margin: auto;
    --inner-margin: 50px;
    --column: 500px;
}


@media (max-width: 1250px) and (min-width: 1150px) {
    :root {
        --outer-margin: 0;
        --inner-margin: 1fr;
    }
}

@media (max-width: 1150px) {
    :root {
        --outer-margin: 0;
        --inner-margin: 0;
        --column: 1fr;
    }
}

.grid {
    display: grid;
    grid-template-columns: [page-start] var(--outer-margin)
        [extended-1-start] var(--inner-margin)
        [content-1-start] var(--column)
        [content-1-end extended-1-end extended-2-start content-2-start]
        var(--column) [content-2-end]
        var(--inner-margin) [extended-2-end]
        var(--outer-margin) [page-end];
    grid-gap: 30px;

    grid-template-rows: 500px;
    grid-template-areas: "header header header header header header";
}

/* Header - zajmuje tą samą pozycję */

.header-img {
    grid-area: 1 / page-start / 1 / page-end;
}

.header-text {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

/* Zwykłe sekcje */

section {
    grid-column: content-1-start / content-2-end;
}

:root {
    --first-column-grid-column: content-1-start / content-1-end;
    --second-column-grid-column: content-2-start / content-2-end;
}

@media all and (max-width: 800px) {
    :root {
        --first-column-grid-column: content-1-start / content-2-end;
        --second-column-grid-column: var(--first-column-grid-column);
    }
}

section.first-column {
    grid-column: var(--first-column-grid-column);
}

section.second-column {
    grid-column: var(--second-column-grid-column);
}

/* Obrazki zajmujące kilka kolumn/wierszy */

:root {
    --column-image-portrait-column-span: span 2;
    --column-image-landscape-column: extended-2-start / -2;
}

@media all and (max-width: 600px) {
    :root {
        --column-image-portrait-column-span: span 4;
        --column-image-landscape-column: extended-1-start / extended-2-end;

    }
}
section.img-portrait {
    grid-column: extended-1-start / var(--column-image-portrait-column-span);
    grid-row-end: span 2;
}

section.img-landscape {
    grid-column: var(--column-image-landscape-column);
}

section.extended {
    grid-column: extended-1-start / extended-2-end;
}

/* Cytat z prawej strony */

section.right-quote {
    grid-column: content-1-start / extended-2-end;
}

:root {
    --quote-width: 400px;
    --float: right;
    --quote-margin: 80px;
}

@media all and (max-width: 800px) {
    :root {
        --quote-width: auto;
        --float: none;
        --quote-margin: inherit;
    }
}


section.right-quote .quote {
    float: var(--float);
    width: var(--quote-width);
}

section.right-quote .normal {
    padding-right: var(--quote-margin);
}

/* Definicja CSS Grid dla reklam */

.advertisements {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: 100px;
    justify-content: center;

    grid-template-columns: repeat(auto-fill, 300px);
/*     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */

    grid-auto-flow: dense;
    /*grid-auto-flow: row;*/
}

.advertisements > div {
    max-width: 100%;
}

/* Wielkości reklam */

.advertisement-s {
}

.advertisement-m {
    grid-column-end: span 2;
}

.advertisement-l {
    grid-row-end: span 2;
}

.advertisement-xl {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

/* Stopka - użyjmy tutaj Flexboxa */
.footer-content {
    display: flex;
    flex-wrap: wrap;
}

footer .contact {
    flex: 1 0 50%;
}

footer .logos {
    flex: 1 0 50%;
    display: flex;
    flex-direction: row-reverse;
}

footer .copyright {
    flex: 1 0 auto;
}
