:root {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.5;

    --color: black;
    --color-header: #D4000A;
    --color-grey: #757575;
    --color-grey-light:  #F3F3F3;

}

.header-img img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.header-text {
    --color: #D4000A;
    width: 100%;
    opacity: 0.9;
    text-align: center;
    background-color: var(--color-grey-light);
}

.header-text * {
    opacity: 1;
    font-weight: 400;
}

.explanation {
    --color: var(--color-header);
    font-size: 0.9rem;
}

.introduction p {
    --color: var(--color-header);
    font-size: 1.2em;
}
.introduction p:first-letter {
    font-size: 3rem;
}

.header-text h2 {
    font-size: 3em;
}

.img-portrait {
    text-align: center;
}

.header-text h3 {
    font-size: 1.3em;
}

body {
    margin: 0;
}

section p {
    text-align: justify;
}

footer {
    background-color: #343434;
    color: white;
}

img {
    max-width: 100%;
}

.quote {
    font-size: 1.3em;
    margin-left: 30px;
}

@media all and (max-width: 800px) {
    .quote {
        margin-left: 0;
    }
}

p.img {
    --color: #6f6f6f;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

.extended img {
    width: 100%;
}

footer {
    --color: white;
}

.advertisements {
    padding: 30px;
}

.advertisements > div {
   background-color: var(--color-grey-light);
   padding: 10px;
}

.advertisements a {
    --color: var(--color-header);
    text-decoration: none;
}

.advertisements p {
    --color: var(--color-grey);
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 65px;
    width: 1000px;

    font-size: 0.8em;
}

@media all and (max-width: 1020px){
    .footer-content {
        width: auto;
    }
}

footer .contact span {
    margin-right: 20px;
}


footer .logos i {
    margin-left: 10px;
    margin-right: 10px;
}


footer .copyright {
    margin-top: 20px;
    font-size: 0.9em;
    --color: rgba(255, 255, 255, 0.4);
}

* {
    color: var(--color);
}