.two-columns {
    display: grid !important;
    grid-gap: 30px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

img.logo {
    max-width: 300px;
}

.column-center {
    justify-content: center;
    align-self: center;
}


.grid-example .two-columns {
    grid-template-columns: 250px 1fr;
}

.source {
    display: grid;
    grid-template-rows: auto 100px;
}

.centered-table td {
    text-align: center !important;
}

.grid-example .grid {
    align-self: flex-start;
}

.grid-example .grid div {
    font-size: 1.2rem;
    background-color: #F3F3F3;
    border: 3px var(--red-brighten) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 20px;
    color: #757575;
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-example style {
    display: block;
    white-space: pre;
    text-align: left;
    font-size: x-large;
}

img.avatar {
    --img-size: 75px;
    width: var(--img-size) !important;
    height: var(--img-size) !important;
    border-radius: 50%;
}