.grid {
    display: grid;
    grid-template-columns: [page-start] 1fr
        [extended-1-start] 50px
        [content-1-start] 500px
        [content-1-end extended-1-end extended-2-start content-2-start]
        500px [content-2-end]
        50px [extended-2-end]
        1fr [page-end];
    grid-gap: 30px;

    grid-template-rows: 100vh;
    grid-template-areas: "header header header header header header";
}

/* Header - zajmuje tą samą pozycję */

.header-img {
    grid-area: 1 / page-start / 1 / page-end ;
}

.header-text {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

/* Zwykłe sekcje */

section {
    grid-column: content-1-start / content-2-end;
}

section.first-column {
    grid-column: content-1-start / content-1-end;
}

section.second-column {
    grid-column: content-2-start / content-2-end;
}

/* Obrazki zajmujące kilka kolumn/wierszy */

section.img-portrait {
    grid-column: extended-1-start / span 2;
    grid-row-end: span 2;
}

section.img-landscape {
    grid-column: extended-2-start / -2;
}

section.extended {
    grid-column: extended-1-start / extended-2-end;
}

/* Cytat z prawej strony */

section.right-quote {
    grid-column: content-1-start / extended-2-end;
}

section.right-quote .quote {
    float: right;
    width: 400px;
}

section.right-quote .normal {
    padding-right: 80px;
}

/* Definicja CSS Grid dla reklam */

.advertisements {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: 100px;
    justify-content: center;

    grid-template-columns: repeat(auto-fill, 300px);
/*     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */

    grid-auto-flow: dense;
    /*grid-auto-flow: row;*/
}

.advertisements > div {
    max-width: 100%;
}

/* Wielkości reklam */

.advertisement-s {
}

.advertisement-m {
    grid-column-end: span 2;
}

.advertisement-l {
    grid-row-end: span 2;
}

.advertisement-xl {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

/* Stopka - użyjmy tutaj Flexboxa */
.footer-content {
    display: flex;
    flex-wrap: wrap;
}

footer .contact {
    flex: 1 0 50%;
}

footer .logos {
    flex: 1 0 50%;
    display: flex;
    flex-direction: row-reverse;
}

footer .copyright {
    flex: 1 0 auto;
}
